.contextStyles {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  margin: 0;
  position: relative;
}

.toggleButton {
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  z-index: 20;
  align-items: center;
}

.reactFlowDiagram {
  width: 100%;
  height: 500px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.reactFlowDiagram :global(.react-flow) {
  width: 100%;
  height: 100%;
}

.reactWordcloudContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.reactWordcloud {
  width: 100%;
  max-width: 100%;
  flex: 1;
  margin: 0;
  padding: 0;
}

.reactWordcloud :global(svg) {
  width: 100%;
  height: auto;
  display: block;
}

.toggleButtonGroup {
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  z-index: 20;
  display: flex;
  gap: 0.25rem;
}
