@use '@carbon/colors';
@use '@carbon/layout';

.llmtoolsTriggerButton {
  z-index: 9800;
  background: colors.$white;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg version='1.1' width='32' height='32' style='clip-rule:evenodd%3Bfill-rule:evenodd%3Bimage-rendering:optimizeQuality%3Bshape-rendering:geometricPrecision%3Btext-rendering:geometricPrecision' id='svg4' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs4'/%3E%3Cg id='g1' transform='matrix(0.14545455 0 0 0.13333263 -2.1090909 -0.59982789)'%3E%3Cpath style='opacity:0.817' fill='%23eba413' d='m 204.5 4.5 c 0.997 -0.02992 1.664 0.47008 2 1.5 2.226 16.5624 11.56 25.5624 28 27 -6.08 1.96 -12.08 4.2933 -18 7 -6.031 5.9044 -9.697 13.0711 -11 21.5 -1.184 -10.6476 -6.184 -18.8142 -15 -24.5 -3.844 -1.5865 -7.844 -2.5865 -12 -3 -0.457 -0.414 -0.791 -0.914 -1 -1.5 17.168 -1.501 26.168 -10.8343 27 -28 z' id='path1'/%3E%3C/g%3E%3Cg id='g2' transform='matrix(0.14545455 0 0 0.13333263 -2.1090909 -0.59982789)'%3E%3Cpath style='opacity:0.817' fill='%23f36423' d='m 42.5 36.5 c 1.0862 0.12 1.7528 0.7867 2 2 2.4046 15.403 11.4046 24.0697 27 26 -5.3638 2.0663 -10.6971 4.233 -16 6.5 -4.4582 2.74 -7.6248 6.5733 -9.5 11.5 -0.2597 3.9241 -1.2597 7.5907 -3 11 C 41.851 83.0186 37.0177 74.8519 28.5 69 c -4.6415 -1.6028 -9.3082 -3.1028 -14 -4.5 17.0109 -1.6775 26.3442 -11.0109 28 -28 z' id='path2'/%3E%3C/g%3E%3Cg id='g3' transform='matrix(0.14545455 0 0 0.13333263 -2.1090909 -0.59982789)'%3E%3Cpath style='opacity:0.931' fill='%235c54a4' d='m 128.5 42.5 c 1 0 2 0 3 0 0.784 23.4486 7.284 45.1153 19.5 65 14.004 18.289 32.504 27.622 55.5 28 0 1 0 2 0 3 -38.287 4.447 -62.121 25.447 -71.5 63 -1.823 9.957 -3.323 19.957 -4.5 30 -0.586 -0.209 -1.086 -0.543 -1.5 -1 -1.132 -18.059 -5.132 -35.059 -12 -51 -12.896 -25.542 -33.7295 -39.375 -62.5 -41.5 -0.4574 -0.414 -0.7907 -0.914 -1 -1.5 43.0823 -6.248 67.416 -30.748 73 -73.5 0.727 -1.3988 1.227 -2.8988 1.5 -4.5 0.499 -5.3229 0.666 -10.6563 0.5 -16 z' id='path3'/%3E%3C/g%3E%3Cg id='g4' transform='matrix(0.14545455 0 0 0.13333263 -2.1090909 -0.59982789)'%3E%3Cpath style='opacity:0.817' fill='%23049483' d='m 42.5 187.5 c 1.0862 0.12 1.7528 0.787 2 2 1.2536 9.728 5.9203 17.228 14 22.5 3.844 1.586 7.844 2.586 12 3 0.4574 0.414 0.7907 0.914 1 1.5 -16.9585 1.625 -26.2918 10.958 -28 28 -1.4363 -4.335 -2.9363 -8.668 -4.5 -13 -2.5255 -5.859 -6.6922 -10.026 -12.5 -12.5 -4.1425 -0.727 -8.1425 -1.727 -12 -3 8.732 -1.295 16.232 -5.128 22.5 -11.5 3.1291 -5.221 4.9624 -10.888 5.5 -17 z' id='path4'/%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.1);
  border-radius: layout.$spacing-02;
  bottom: layout.rem(113px);
  color: colors.$gray-100;
  cursor: pointer;
  right: layout.$spacing-03;
  position: fixed;
  height: layout.$spacing-08;
  width: layout.$spacing-08;
  padding-inline: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: colors.$blue-60 !important;
  }
}
