@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.llmtPromptContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
}

.promptInputContainer {
  position: relative;
  margin-bottom: 0.5rem;
}

.promptTextarea {
  width: 100%;
}

.promptSendButton {
  position: absolute;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: auto;
  min-height: auto;
  z-index: 1;
}

.promptControlsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.5rem;
}

.promptFileUploadContainer {
  grid-column: span 2;
}

.promptUploadedFile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: #f4f4f4;
  border-radius: 4px;
}

.promptParameterControl {
  margin-bottom: 0.5rem;
}

.promptParameterControlLabel {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
