@use '@carbon/layout';
@use '@carbon/colors';
@use '@openmrs/esm-styleguide/src/vars' as *;

p {
  text-align: justify;
}

.bold {
  font-weight: bold;
}

.llmtlabelactions {
  width: 80%;
  margin: 0 auto;
}

.llmtprivacytermsbutton {
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: auto;
  min-height: auto;
}

.llmttoggletipcontent {
  padding: 0 !important;
  width: auto !important;
  height: auto !important;
}

.llmtpromptleftheader {
  padding-top: 1rem !important;
  padding-left: 0 !important;
  margin-left: 0 auto !important;
}

.llmtpromptrightheader {
  padding-top: 1rem !important;
  padding-left: 2.5rem !important;
  margin-left: 0 auto !important;
}

.llmtpromptpanel {
  padding: 0% !important;
  margin: auto;
}

.cds--toggletip-content {
  padding-bottom: 0 !important;
}

.llmtscrollablelistcontainer {
  max-height: 350px;
  overflow-y: auto;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.llmtscrollablelistcontainer::-webkit-scrollbar {
  width: 6px;
}

.llmtscrollablelistcontainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.llmtscrollablelistcontainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.llmtscrollablelistcontainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.llmtsnippet {
  margin-top: 9%;
}

.llmtslargecell {
  padding: 2.5rem 2.5rem !important;
  font-size: 1rem;
  min-height: 60px;
  border-bottom: 1px solid var(--cds-border-subtle);
}

.llmtPromptContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
}

.promptInputContainer {
  position: relative;
  margin-bottom: 0.5rem;
}

.promptTextarea {
  width: 100%;
}

.promptSendButton {
  position: absolute;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: auto;
  min-height: auto;
  z-index: 1;
}

.promptControlsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.5rem;
}

.promptFileUploadContainer {
  grid-column: span 2;
}

.promptUploadedFile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: #f4f4f4;
  border-radius: 4px;
}

.promptParameterControl {
  margin-bottom: 0.5rem;
}

.promptParameterControlLabel {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.footer {
  padding-top: 5%;
  background-color: $ui-03;
  border-top: 1px solid $ui-04;
  padding: layout.$spacing-06 0;
  margin-top: auto;
  width: 100%;
  font-size: 0.875rem;
  color: $text-02;

  .note {
    display: flex;
    flex-direction: column;
    gap: layout.$spacing-05;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.llmgreen {
  color: colors.$green-40;
}

.llmyellow {
  color: colors.$yellow-30;
}

.llmred {
  color: colors.$red-50;
}
